.point-bg {
    background-color: #f7f3e68f;
    /* opacity: 0.3; */
    background: radial-gradient(circle, transparent 20%, #f7f3e6 20%, #f7f3e6 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f7f3e6 20%, #f7f3e6 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#f7ce457a 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #f7ce456e 0.8px, #f7f3e6 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}