.h-logo{
    font-weight: 900;
    font-size: 30px;
    color: rgb(14, 0, 79);
    /* border: 1px solid; */
}

.banner{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(4, 1, 46, 0.562));
    position : relative;
    /* overflow: hidden; */
    
}

.banner, .banner > .container{
    height: 100vh;
}
 .banner > .container{
    height: 100%;
}

.banner > .container  h1.presentation{
    /* margin-top: -100px; */
    font-size: 100px;
    font-weight: 1000;
    color: #fff;
    text-decoration: wavy;

}



.banner > .container  p.presentation{
    font-size: 34px;
    font-weight: 500;

}
.banner > .container  p.text-outline{
    font-size: 100px;
    font-weight: 1000;
    color: transparent!important;
    white-space: nowrap;
   
    
}

#video-background {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .play-div{
    border: 1px solid #fff;
    border-radius: 500px;
    padding: 30px;
    width: max-content;
  }

  .icone-employe-div{
    border-radius: 500px;
    padding: 30px;
    width: max-content;
    background-color: rgba(49, 38, 97, 0.281);
  }

  .carousel-control-prev {
    left: -20%;
  }
  .carousel-control-next {
    right: -20%;
  }


  .card-abonnees{
    
    left : 50%;
    z-index: 10;
    transform: translate(-10%,-40%);
    min-width: 400px;
    text-align: center;
    
  }

  .cosmos-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('/assets/images/canvas-linear.png');
    background-size: cover;
    background-repeat: no-repeat;

  }


  
  


  /*=========================================== Animations ===================================== */

  .marquee {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee-animation 10s linear infinite;
    position: absolute;
    bottom: -70px;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 10;
  }
  
  @keyframes marquee-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* .marquee:hover {
    animation-play-state: paused;
  } */
  

  /*  */

  .image-scroll-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-scroll-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    animation: image-scroll-animation 10s linear infinite;
  }
  
  @keyframes image-scroll-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  .image-scroll-wrapper img {
    /* width: 100%;     */
    height: 100%;
    object-fit: cover;
  }
  


    /*  */

    .image-scroll-container-y {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    
    .image-scroll-wrapper-y {
      display: flex;
      height: 100%;
      width: 100%;
      animation: image-scroll-animation-y 10s linear infinite;
    }
    
    @keyframes image-scroll-animation-y {
      0% {
        transform: translateX(-200%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    
    .image-scroll-wrapper-y img {
      /* width: 100%;     */
      height: 100%;
      object-fit: cover;
    }
    
  
  
